// UTILITY CLASSES
// ---------------

// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}

.polaroid {
  .border-radius(20px);
  .box-shadow(5px 5px 8px 0px @grayDark);

  padding: 10px 0px 0px 10px;
  margin: 10px;
  background: @white;
  color: @black;
}

.polaroid img {
  padding: 0;
  margin: 0;
}

.polaroid p {
  padding: 0.5em 0.5em 0.1em 0.5em;
}

.rounded {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
}

.sidebar {
//  min-width: 325px;
  padding-top: 400px;
  width: 400px;
  float: left;
}

.main {
  padding-top: 10px;
}

.title {
  width: 325px;
  margin: 0 auto;
  text-align: justify;
}

.script {
  font-size: 125%;
  line-height: @baseLineHeight * 1.5;
//  letter-spacing: 0.3em;
  font-family: 'Oleo Script', cursive;
}

.bigger {
  font-size: 175%;
  line-height: @baseLineHeight * 2;
  letter-spacing: 0.3em;
}

.bedroom {
  font-size: 350%;
  line-height: @baseLineHeight * 2;
  letter-spacing: 0.3em;
}

.bio {
  font-size: 700%;
  line-height: @baseLineHeight * 4;
  letter-spacing: 0.3em;
}

.center {
  text-align: center;
}

.topleft {
  background: @bodyBackground url('../img/topleft-graphic.png') no-repeat left top;
}

