{% extends 'base.html' %}

{% block content %}
<div style="max-width: 600px">
<h1>1 Million Bedrooms</h1>

<p>Bedroom Bio invites New Yorkers to participate in a collective storytelling experience through the pictures of spaces that are most personal to us. There are 8 million people in NYC and we want to collect 1 million pictures of the most personal space- the bedroom. Share yours and be a part of the intimate story that makes up NYC.</p>

<p>Bedroom Bio a storytelling project started by three graduate students at NYU's Interactive Telecommunications Program. Our shared interest of vulnerability, private spaces, and collective storytelling drove us to create a platform that shares and explores intimacy.</p>

<p>We do not share your info. Ever.</p>

<p><a href="mailto:hello@bedroombio.com">Contact us</a>.</p>
</div>
{% endblock %}

