<html>

<head>
  <title>Bedroom Bio</title>
  <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oleo+Script" type="text/css">
  {% block css %}
  {% endblock %}
</head>

<body>

  <div class="sidebar">
    <div class="title">
      <p class="center bedroom">BEDROOM</p>
      <hr />
      <p class="center bio">BIO</p>
      <hr />
      <p class="bigger">A PUBLIC VIEW OF PERSONAL SPACE.</p>
      <p class="script">What don't you show the world about yourself that we can see in a picture of your bedroom?</p>
      <hr />
      <p><a href="/">Photos</a> | <a href="/submit">Submit</a> | <a href="/about">About</a></p>
    </div>
  </div>

<div style="position: absolute; left: 500px; padding-top: 2em;">
  {% block content %}
  {% endblock %}
</div>

<!--  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30195395-1']);
  _gaq.push(['_setDomainName', 'boxysean.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>-->

  <script src="{{STATIC_URL}}js/jquery.js"></script>

  {% block scripts %}
  {% endblock %}

</body>

</html>


