{% extends 'base.html' %}

{% block content %}

  <a data-toggle="modal" href="#myModal">
    <div class="polaroid">
      <img class="rounded" src="img/smaller/bed1.jpg" />
      <p>Before they sold out sartorial pop-up, narwhal dreamcatcher bespoke mumblecore cliche.</p>
    </div>
  </a>
  <div class="polaroid">
    <img class="rounded" src="img/smaller/bed2.jpg" />
    <p>Before they sold out sartorial pop-up, narwhal dreamcatcher bespoke mumblecore cliche.</p>
  </div>
  <div class="polaroid">
    <img class="rounded" src="img/smaller/bed3.jpg" />
    <p>Before they sold out sartorial pop-up, narwhal dreamcatcher bespoke mumblecore cliche.</p>
  </div>
  <div class="polaroid">
    <img class="rounded" src="img/smaller/bed2.jpg" />
    <p>Before they sold out sartorial pop-up, narwhal dreamcatcher bespoke mumblecore cliche.</p>
  </div>
   <div class="polaroid">
    <img class="rounded" src="img/smaller/bed1.jpg" />
    <p>Before they sold out sartorial pop-up, narwhal dreamcatcher bespoke mumblecore cliche.</p>
  </div>
  <div class="polaroid">
    <img class="rounded" src="img/smaller/bed2.jpg" />
    <p>Before they sold out sartorial pop-up, narwhal dreamcatcher bespoke mumblecore cliche.</p>
  </div>
  <div class="polaroid">
    <img class="rounded" src="img/smaller/bed3.jpg" />
    <p>Before they sold out sartorial pop-up, narwhal dreamcatcher bespoke mumblecore cliche.</p>
  </div>
  <div class="polaroid">
    <img class="rounded" src="img/smaller/bed2.jpg" />
    <p>Before they sold out sartorial pop-up, narwhal dreamcatcher bespoke mumblecore cliche.</p>
  </div>
   <div class="polaroid">
    <img class="rounded" src="img/smaller/bed1.jpg" />
    <p>Before they sold out sartorial pop-up, narwhal dreamcatcher bespoke mumblecore cliche.</p>
  </div>
  <div class="polaroid">
    <img class="rounded" src="img/smaller/bed2.jpg" />
    <p>Before they sold out sartorial pop-up, narwhal dreamcatcher bespoke mumblecore cliche.</p>
  </div>
   <div class="polaroid">
    <img class="rounded" src="img/smaller/bed3.jpg" />
    <p>Before they sold out sartorial pop-up, narwhal dreamcatcher bespoke mumblecore cliche.</p>
  </div>
  <div class="polaroid">
    <img class="rounded" src="img/smaller/bed2.jpg" />
    <p>Before they sold out sartorial pop-up, narwhal dreamcatcher bespoke mumblecore cliche.</p>
  </div>

{% endblock %}

