{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" href="{{STATIC_URL}}css/jquery.Jcrop.css" type="text/css" />
{% endblock %}

{% block content %}
  <h1>Add your bedroom</h1>

  <form method="post" enctype="multipart/form-data"  action="/submit/picture">
    <p>Your bedroom photo</p>
    <input id="picture_upload" type="file" />
    <div class="alert alert-error" id="picture_upload_error" style="display:none"></div>
    <div id="picture_upload_display" style="display:none; width: 300"></div>
    <div id="picture_upload_placeholder"></div>
    <button class="btn" id="picture_crop_button" onclick="return false;">Crop photo</button>
  </form>

  <form method="post" action="/submit/bedroom">
    <input type="hidden" id="picture_file" name="picture_file" />
    <input type="hidden" id="picture_crop_x" name="picture_crop_x" />
    <input type="hidden" id="picture_crop_y" name="picture_crop_y" />
    <input type="hidden" id="picture_crop_x2" name="picture_crop_x2" />
    <input type="hidden" id="picture_crop_y2" name="picture_crop_y2" />

    <label for="about">About your bedroom</label>
    <textarea class="span6" id="description" name="description" rows="6"></textarea>
    <span class="help-block" id="description_remaining"></span>

    <label for="neighborhood">Your neighborhood</label>
    <select class="span5" id="neighborhood" name="neighborhood">
      {% for neighborhood in neighborhoods %}
      <option value="{{ neighborhood.pk }}">{{ neighborhood.name }} ({{ neighborhood.borough.name }})</option>
      {% endfor %}
    </select>
    <span class="help-block">New York City neighborhoods only</span>

    <button type="submit" class="btn">Submit my room</button>
  </form>
{% endblock %}

{% block scripts %}
  <script src="{{STATIC_URL}}js/upload.js"></script>
  <script src="{{STATIC_URL}}js/spin.min.js"></script>
  <script src="{{STATIC_URL}}js/jquery.Jcrop.min.js"></script>
{% endblock %}

